.table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  text-align: center;
  border: 1px solid grey;
  width: 80%;
  margin: 20px auto;
}

.thead {
  width: 30%;
  border: 1px solid grey;
  padding: 10px;
  background: #ddd;
}
.tbody {
  width: 30%;
  border: 1px solid grey;
  padding: 10px;
}
